[submodule "addons/brackeys-proto-controller"]
	path = addons/brackeys-proto-controller
	url = https://github.com/Brackeys/brackeys-proto-controller.git
[submodule "addons/godot-jolt"]
	path = addons/godot-jolt
	url = https://github.com/godot-jolt/godot-jolt.git
